@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: Abel, sans-serif;
    background-color: #F0F0F0;
}

h1, h2, h3 {
    font-family: Anton, sans-serif;
}

header .header-logo {
    display: flex;
}

header .column {
    flex-direction: row;
}

header .company-logo {
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
}

header .logo p {
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

header .header-links {
    gap: 20px;
    color: #919191;
}

.header-text {
    display: block;
    margin-top: 35px;
}

.header-text h1 {
    font-size: 65px;
}

.header-text h2 {
    padding: 50px 0;
    font-size: 55px;
}

.color-circle .row .red-orange-circles {
    margin-right: 20px;

}



.dot {
    height: 135px;
    max-width: 135px;
    border-radius: 100px;
    border: 6px solid #fff;
}

.color-circle{
    height: 20vh;
}

.dot-text {
    color: #fff;
}

.dot.circle-red {
    background-color: #E6563B;

}

.dot.circle-orange {
    background-color: #EB9D3A;
}

.dot.circle-green {
    background-color: #7CB06C;
}

.dot.circle-blue {
    background-color: #00ABA9;
}

hr {
    margin: 60px;
}

.body-header .main{
    font-size: 15px;
    font-weight: bold;
}

.body-header .right{
    font-size: 15px;
    font-weight: bold;
}

.section-title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.column.main-images{
    flex: 2 0 0;
}

.main-images .top-photos{
    margin-top: 30px;
    margin-bottom: -20px;
}

.main-images .bottom-photos{
    margin-bottom: 70px;
}
.background{
    border: 10px solid #E6E6E6;
}

.row .bottom-photos .security{
    height: 100%;
}
.image-footers{
    display: flex;
    margin-top: 5px;
}

.image-footers p{
    display: flex;
    align-content: start;
    margin-right:80px;
}

.image-footers .circles {
    flex-direction: row;
    height: 25px;
    width: 25px;
    border-radius: 70px;
}

.circles{
    margin-left: 5px;
}
.circles h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
}

.circles.circle-red {
    background-color: #E6563B;

}

.circles.circle-orange {
    background-color: #EB9D3A;
}

.circles.circle-green {
    background-color: #7CB06C;
}

.circles.circle-blue {
    background-color: #00ABA9;
}

.right-images .main-right-images img {
    display: flex;
    height: 80px;
    width: 80px;
    border: 3px solid #E6E6E6;
}

.right-images .main-right-text {
    padding-right: 0px;
}

.row{
    flex-wrap: unset;
}
.row>*{
    padding-left: unset;
    width: unset;
    padding-right: unset;
}

.right-images {
    margin-bottom: 50px;
}

.right-images .main-right-text h2 {
    display: flex;
    font-size:25px;
    line-height: 1.2;
    padding: 0 30px;
}

.right-images .row {
    margin-top: 50px;
    margin-bottom: -20px;
    gap: 0;
}

.right-images .footer {
    margin-top: 70px;
}

.right-images .footer-paragraph{
    font-weight: bold;
}

.right-images .footer, .footer-paragraph {
    padding-left: 30px;
}

@media screen and (min-width: 992px) {
    .right-images .main-right-text h2 {
        padding: 0;
        font-size: 22px;
    }

    .right-images .main-right-images {
        padding-right: 10px;
    }

    .color-circle .row .red-orange-circles {
        margin-right: 0;
        justify-content: flex-end;
    }

    .color-circle .row .green-blue-circles {
        justify-content: flex-start;
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .right-images{
        display: none;
    }

    .main-images .top-photos {
        margin-top: 25px;
    }

    .image-footers p {
        margin-right: 60px;
    }

    .company-purpose h1 {
        text-align: center;
    }

    .color-circle .row .red-orange-circles {
        margin-right: 0;
        justify-content: flex-end;
    }

    .color-circle .row .green-blue-circles {
        justify-content: flex-start;
        margin-left: 5px;
    }
}

@media screen and (max-width: 576px){

    .header-text h2 {
        font-size: 40px;
    }

    .right-images{
        display: none;
    }

    .small-main-screen {
        margin-top: 200px;
    }

    .header-text .company-purpose{
        text-align: center;
    }

    .row .top-photos, .bottom-photos{
        display: block;
        margin: unset;
    }

    .image-footers p{
        margin-right: 185px;
    }

    hr {
        display: none;
    }


    .dot {
        min-height: 90px;
        min-width: 130px;
    }


    .container .big-circles {
        flex-direction: column;
    }

    .color-circle .row .red-orange-circles {
        margin-right: 0;
    }

    .color-circle .big-circles .green-blue-circles {
        margin-right: 1px;
    }
}